.root {
    --main-header-text-color: #212121;
    --main-p-text-color: #757575;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #757575;
    --main-header-text-color-- :#212121;
    --main-p-text-color: #757575;
    --main-box-background-color: #2F303A;
}
/* TOP LINE STYLE */
.logo-style {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #212121;
}

.link-navigation-title {
    list-style: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.style-link-navigation {
    text-decoration: none;
    color: #212121; 
}

.link-navigation-title a:hover {
    color: #2196F3;
}
.
.link-navigation-title a:focus {
    color: #2196F3;
}

.style-contact-navigation {
    text-decoration: none;
    color: #757575;
}

/* INDEX PAGE */
.hero-section {
    background-color: var(--main-box-background-color);
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.hero-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.benefits-title {
    display: none;
}

.benefits-item {
    list-style: none;
}

.benefits-subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-header-text-color--);
}

.work-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--main-header-text-color--)
}

.work-list {
    list-style: none;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--main-header-text-color--)
}

.team-item {
    list-style: none;
}

.team-name {
    text-decoration: none;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-list a:hover {
    color: #2196F3;
}
.team-list a:focus {
    color: #2196F3;
}

.team-job {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-list {
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* PORTFOLIO PAGE */
.portfolio-button-list {
    list-style: none;
}
.portfolio-button {
    font: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    cursor: pointer;
}

.portfolio-button:hover {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #fff;
}

.portfolio-button:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #fff;
}

.portfolio-item {
    list-style: none;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.portfolio-blok {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
}

.portfolio-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
/* .portfolio-item a:hover {
    color: #2196F3;
}
.portfolio-item a:focus {
    color: #2196F3;
} */

/* FOOTER SECTION  */
.footer {
    background-color:var(--main-box-background-color)
}

.logo-footer {
    font-family: raleway;
    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #fff;
}

.adress-footer {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer a:hover {
    color: #2196F3;
}
.
.footer a:focus {
    color: #2196F3;
}